/* Import das Fontes */
@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 W03 Blk lt.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 W03 Lite lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis Globais */
:root{
    --v1-color: #EC2626;
    --v2-color: #8F1717;
    --v3-color: #861515;
    --v4-color: #641010;
    --v5-color: #420B0B;
    --p1-color: #000000;
    --p2-color: #1E1E1E;
    --p3-color: #3D3D3D;
    --b1-color: #fff;
    --b2-color: #F9EFEF;
    --font-inter: 'Inter', sans-serif;  
    --font-geometric415: 'Geometric415', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --border-radiusL: 8px;
    --border-radiusM: 10px;
    --gradient-diamond: radial-gradient(circle at center, #8F1717 0%, #4D0D0D 100%);
    --gradient-escuro: linear-gradient(45deg, #1E1E1E, #5E5E5E);
}

body{
  background-color: var(--b2-color);
}