section#sinonimosAprovacao{
    padding: 80px;
    color: var(--b1-color);
    background: var(--gradient-escuro);
}

/* Citação + Imagem */
div#centro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 60px;
}

div#sinonimosAprovacao-texto{
    max-width: 600px;
}

div#sinonimosAprovacao-texto h1{
    font-family: var(--font-geometric415);
    font-size: 50px;
    margin-bottom: 25px;
}

div#sinonimosAprovacao-texto p{
    font-family: var(--font-poppins);
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--b2-color);
    margin-bottom: 15px;
}

div#sinonimosAprovacao-texto figcaption{
    font-family: var(--font-poppins);
    font-weight: 500;
}

div#centro > img{
    border-radius: 10px;
    transition: .3s ease;
}

div#centro > img:hover{
    box-shadow: -6px 6px 8px 0px rgba(179, 178, 178, 0.5);
}

/* Cards */
div#sinonimosAprovacao-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

dl.sinonimosAprovacao-card{
    width: 340px;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    background-color: var(--b1-color);
    box-shadow: -6px 6px 8px 0px rgba(0,0,0,0.5);
    transition: .3s ease;
}

dl.sinonimosAprovacao-card:hover{
    transform: translateY(10px);
    box-shadow: -6px 6px 8px 0px rgba(140, 10, 10, 0.5);
}

dl.sinonimosAprovacao-card dt{
    font-family: var(--font-geometric415);
    font-size: 40px;

    /* Colocando degradê no texto */
    background-image: var(--gradient-diamond);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black; /* Fallback para navegadores antigos */
}

dl.sinonimosAprovacao-card dd{
    font-family: var(--font-poppins);
    font-size: 20px;
    color: var(--p1-color);
}



/* ===== MEDIA QUERY ===== */
/* Telas com 850px - 1100px */
@media screen and (min-width: 850px) and (max-width: 1100px){
    section#sinonimosAprovacao{
        padding: 50px;
    }

    /* Citação + Imagem */
    div#centro{
        gap: 40px;
    }

    div#sinonimosAprovacao-texto h1{
        font-size: 45px;
    }

    div#centro > img{
        width: 300px;
    }

    /* Cards */
    dl.sinonimosAprovacao-card dt{
        font-size: 35px;
    }

    dl.sinonimosAprovacao-card dd{
        font-size: 15px;
    }
}

/* Telas com 660px - 849px */
@media screen and (min-width: 660px) and (max-width: 849px){
    section#sinonimosAprovacao{
        padding: 50px;
    }

    /* Citação + Imagem */
    div#centro{
        gap: 40px;
    }

    div#sinonimosAprovacao-texto h1{
        font-size: 38px;
    }

    div#sinonimosAprovacao-texto p{
        font-size: 15px;
    }

    figcaption{
        font-size: 12px;
    }

    div#centro > img{
        width: 250px;
    }

    /* Cards */
    div#sinonimosAprovacao-cards{
        gap: 20px;
    }

    dl.sinonimosAprovacao-card dt{
        font-size: 30px;
    }

    dl.sinonimosAprovacao-card dd{
        font-size: 12px;
    }
}

/* Telas com 520px - 669px */
@media screen and (min-width: 520px) and (max-width: 669px){
    section#sinonimosAprovacao{
        padding: 50px;
    }

    /* Citação + Imagem */
    div#centro{
        flex-direction: column;
        gap: 40px;
    }

    div#sinonimosAprovacao-texto h1{
        font-size: 38px;
    }

    div#sinonimosAprovacao-texto p{
        font-size: 15px;
        text-align: justify;
    }

    figcaption{
        font-size: 12px;
    }

    div#centro > img{
        width: 220px;
    }

    /* Cards */
    div#sinonimosAprovacao-cards{
        flex-wrap: wrap;
        gap: 20px;
    }

    dl.sinonimosAprovacao-card{
        width: 200px;
    }

    dl.sinonimosAprovacao-card dt{
        font-size: 30px;
    }

    dl.sinonimosAprovacao-card dd{
        font-size: 12px;
    }
}

/* Telas com ...px - 519px */
@media screen and (max-width: 519px){
    section#sinonimosAprovacao{
        padding: 25px;
    }

    /* Citação + Imagem */
    div#centro{
        flex-direction: column;
        gap: 40px;
    }

    div#sinonimosAprovacao-texto h1{
        font-size: 30px;
    }

    div#sinonimosAprovacao-texto p{
        font-size: 14px;
        text-align: justify;
    }

    figcaption{
        font-size: 12px;
    }

    div#centro > img{
        width: 220px;
    }

    /* Cards */
    div#sinonimosAprovacao-cards{
        flex-wrap: wrap;
        gap: 20px;
    }

    dl.sinonimosAprovacao-card dt{
        font-size: 30px;
    }

    dl.sinonimosAprovacao-card dd{
        font-size: 12px;
    }
}