:root{
    --v1-color: #EC2626;
    --v2-color: #8F1717;
    --v3-color: #861515;
    --v4-color: #641010;
    --v5-color: #420B0B;
    --p1-color: #000000;
    --p2-color: #1E1E1E;
    --p3-color: #3D3D3D;
    --body-color: #FFF7F6;
    --font-inter: 'Inter', sans-serif;  
    --font-g405: 'Geometric415', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --border-radiusL: 8px;
    --border-radiusM: 10px;
    --gradient-diamond: radial-gradient(circle at center, #8F1717 0%, #4D0D0D 100%);
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 W03 Blk lt.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometric415";
  src: url("../fonts/Geometric 415 W03 Lite lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.titulo{
    font-family: var(--font-g405);
    font-weight: 900;
    font-size: 48px;
    color: var(--v1-color);
}

.teste{
    background: var(--gradient-diamond);
}